src/cursors/src/24x24
src/cursors/src/32x32
src/cursors/src/48x48
src/cursors/src/64x64
src/cursors/src/72x72
src/cursors/src/96x96
src/cursors/src/svg-Manjaro
src/cursors/src/svg-Manjaro-Dark
src/cursors/src/svg-Ubuntu
src/cursors/src/svg-Ubuntu-Dark
